@import url(https://fonts.googleapis.com/css?family=Hind);          /*--- Body Font --*/
@import url(https://fonts.googleapis.com/css?family=Nobile);        /*--- Heading Font --*/

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-color: #f8f8f8;
    font-family: 'Hind', sans-serif;
    font-size: 16px;
    position: relative;
}

h1 {
    text-align: center;
    font-size: 175%;
    color: #333232;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 3% 0;
}

h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: #4a4444;
    text-transform: uppercase;
    letter-spacing: 2px;
}

p {
    padding: 2%;
    color: #4a4444;
    text-align: justify;
}

img {
    max-width: 100%;
    height: auto;
}
/*  Image Slider Style  */
.slider, 
.slider > div {
    background-position: center center;
    display: block;
    width: 100%;
    /* height: 800px; */
    height: 95vh; /* If you want fullscreen */
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000;
    overflow: hidden;
    -moz-transition: transform .4s;
    -o-transition: transform .4s;
    -webkit-transition: transform .4s;
    transition: transform .4s;
}

.slider > div {
    position: absolute;
}
@keyframes boing {
    0% {
        transform: scale(1.2);
    }
    40% {
        transform: scale(.6);
    }
    60% {
        transform: scale(1.2);
    }
    80% {
        transform: scale(.8);
    }
    100% {
        transform: scale(1);
    }
}

.clearfix {
    clear: both;
}
footer{
    margin: 0;
    padding: 0;
    height: fit-content;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    background-color: rgba(0, 0, 0, 1);
    color: white;
}
.contact , .follow {
    padding: 10px;
}
footer div img {
    padding: 10px;
}
.about-us {
    padding: 20px 0;
}
.about-us h1, .prv h1, .testimonial h1 {
    font-size: 50px;
    color: #333232;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
.about-us-p {
    font-size: 20px;
    color: #4a4444;;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: -2%;
    margin-bottom: 2%;
}  
.table-container{
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin: 0 auto;
}

.details-table{
    border-collapse: collapse;
    margin: 10px 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.details-table caption{
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333232;
    font-weight: bold;
    margin-bottom: 10px;
}

.details-table tr:nth-child(odd){
    background-color: #ddd;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.details-table th{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    vertical-align: top;
}

.details-table td{
    font-size: 16px;
    padding: 10px;
}

.container {
    background-color: rgb(255, 242, 122);
	color: #333;
	margin: 0 auto;
	text-align: center;
}
.container > h1 {
    padding: 3% 0 0 0;
}
.container > ul > li {
	display: inline-block;
	font-size: 1.5em;
	list-style-type: none;
	padding: 1em;
	text-transform: uppercase;
}
  
.container > ul > li > span {
	display: block;
	font-size: 4.5rem;
}
/*  Start Document Media */
@media screen and (max-width: 768px) {
    .slider, 
    .slider > div {
        height: 500px;
    }
    h1 {
        font-size: 125%;
    }
    img {
        width: 100%;
    }
    h3 {
        padding-top: 3%;
    }
    .about-us {
        width: 90vw;
        margin: 0 auto;
    }
    .about-us h1, .prv h1, .testimonial h1 {
        font-size: 32px;
    }
    .about-us-p {
        margin: 0;
    }
    .details-table {
        margin: 10px 0px;
    }
    .details-table td{
        font-size: 14px;
    }
    .details-table caption{
        font-size: 32px;
    }
    .container > ul > li > span {
        font-size: 3em;
    }
    .container > ul > li {
        font-size: 1em;
        padding: 0.3em;
    }
    .table-container{
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
    footer {
        height: auto;
    }
    footer div img {
        padding: 10px;
    }
    .follow > div > a > img {
        width: 30px;
    }
}
/*  End Document Media  */
.prv {
    max-width: 100rem;
	margin: 0 auto;
	padding: 0 2rem 2rem;
}
.gallery {
	display: flex;
    flex-wrap: wrap;
	margin: -1rem -1rem;
}
.gallery div {
    margin: 10px auto;
}

.gallery-item {
    flex: 1 0 24rem;
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
    transition: transform 400ms ease-out;
    object-fit: fill;
}

.gallery-image:hover {
	transform: scale(1.15);
}
@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
		grid-gap: 2rem;
	}
    .prv {
        padding: 0;
    }
	.gallery,
	.gallery-item {
        margin: 0;
	}
}
.card {
    width: 70vw;
    height: 200px;
    margin: auto;
    display: flex;
    padding-top: 30px;
}
.card-img {
    min-width: 20%;
}
.card-img img {
    min-width: 80%;
    max-height: 200px;
    border-radius: 50%;
    display: block;
    margin: auto
}
.card-text {
    display: block;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .card {
        display: block;
        height: fit-content;
        margin: 0 auto;
    }
    .card-img img {
        max-width: 60px;
    }
}
.blinker {
    width: 75vw;
    margin: auto;
}
.blinker-card {
    margin: auto;
    width: fit-content;
    padding: 20px;
    background-color: rgb(247, 182, 97);
    border-radius: 16px;
}
.blinker-card h3 {
    text-transform: none;
    font-size: 40px;
    color: rgb(224, 36, 36);
}
@media screen and (max-width: 768px) {
    .blinker-card h3 {
        font-size: 32px;
    }
}