*{
    outline: none;
}

body {
    color: #000;
    background-color: #f4f4f4;
    transition: background-color 1s ease;
    margin: 0;
}

html, body{
    color: black;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

form {
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    width: 100vw;
    z-index: 999;
}

.nav-logo{
    display: flex;
    align-items: center;
}

.nav-logo img{
    height: 40px;
    margin: 5px;
}

.nav-logo h1{
    margin: 0px 10px;
    font-size: 32px;
    letter-spacing: 5px;
    font-weight: 100;
    text-transform: uppercase;
    cursor: default;
    color: #fff;
}

.dashBoard{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    position: relative;
    background: linear-gradient(90.48deg, #504DFF 0.22%, #00E0FF 99.75%);
}

.switch{
    position: absolute;
    width: 20vw;
    height: 4vh;
    border-radius: 50px 0 0 50px;
    top: 18vh;
    left: 65vw;
    font-size: 20px;
    display: flex;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
}

.switch-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    background: white;
    border-radius: 50px 0 0 50px;
    color: black;
    font-size: 1em;
    text-transform: uppercase;
}

.switch-btn:nth-child(1){
    border-radius: 50px 0 0 50px;
}

.switch-btn:nth-child(2){
    border-radius: 0px 50px 50px 0px;
}

.switch-btn-active{
    background: black;
    color: white;
}

.cardPersonal{
    position: absolute;
    width: 40vw;
    height: 60vh;
    background: #FFFFFF;
    border-radius: 50px;
    top: 25vh;
    left: 55vw;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.25);
}

.cardCollege{
    display: none;
    position: absolute;
    width: 40vw;
    height: 45vh;
    background: #FFFFFF;
    border-radius: 50px;
    top: 30vh;
    left: 55vw;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.25);
}

.welcomeNote{
    position: absolute;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    width: 50vw;
    top: 20vh;
    height: 70vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.welcomeNote > p{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.welcomeNote p:nth-child(2){
    font-size: 36px;
    width: 250px;
    font-weight: 400;
    color: #111;
}

input{
    border: 3px solid #504DFF;
    border-radius: 8px;
    font-family: Poppins;
    font-weight: normal;
    font-size: 18px;
    align-items: center;
    padding: 10px;
}
.nameField{
    width: 100%;
    display: flex;
    position: relative;
    top: 5vh;
    justify-content: space-around;
}
.nameField > input {
    width: 15vw;
    height: 5vh;
}
.emailField{
    width: 100%;
    display: flex;
    position: relative;
    top: 7vh;
    justify-content: space-around;
}
.emailField > input {
    width: 35vw;
    height: 5vh;
}
.numberField{
    width: 100%;
    display: flex;
    position: relative;
    top: 9vh;
    justify-content: space-around;
}
.numberField > input {
    width: 15vw;
    height: 5vh;
}
.personalField{
    width: 100%;
    display: flex;
    position: relative;
    top: 12vh;
    justify-content: space-around;
}
.personalField > input {
    width: 15vw;
    height: 5vh;
}
.addressField{
    width: 100%;
    display: flex;
    position: relative;
    top: 15vh;
    justify-content: space-around;
}
.addressField > textarea {
    width: 35vw;
    height: 15vh;
    border: 3px solid #504DFF;
    border-radius: 8px;
    font-family: Poppins;
    font-weight: normal;
    font-size: 18px;
    align-items: center;
    padding: 10px;
}
.button{
    position: relative;
    width: 10vw;
    height: 5vh;
    top: 17vh;
    left: 40%;
    border: none;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    font-family: Poppins;
    font-weight: bolder;
    color: white;
    font-size: 20px;
    align-items: center;
    background: #504DFF;
    cursor: pointer;
}

.button:hover {
    box-shadow: 0 0px 16px 0 rgba(0,0,0,0.15), 0 0px 16px 0 rgba(0,0,0,0.15);
}

.collegeName{
    width: 100%;
    display: flex;
    position: relative;
    top: 5vh;
    justify-content: space-around;
}
.collegeName > input {
    width: 35vw;
    height: 5vh;
}
.yearOfStudy{
    width: 100%;
    display: flex;
    position: relative;
    top: 7vh;
    justify-content: space-around;
}
.yearOfStudy > input {
    width: 35vw;
    height: 5vh;
}
.branch{
    width: 100%;
    display: flex;
    position: relative;
    top: 9vh;
    justify-content: space-around;
}
.branch > input {
    width: 35vw;
    height: 5vh;
}
.collegeCity{
    width: 100%;
    display: flex;
    position: relative;
    top: 11vh;
    justify-content: space-around;
}
.collegeCity > input {
    width: 35vw;
    height: 5vh;
}

.cardCollege button{
    top: 15vh;
}

@media (max-width: 600px){
    .nav-logo h1{
        margin: 0px;
        font-size: 24px;
        letter-spacing: 1px;
        font-weight: 100;
        text-transform: uppercase;
        cursor: default;
        color: #fff;
    }
    .cardPersonal{
        width: 100vw;
        height: 500px;
        left: 0;
        top: 260px;
        border-radius: 0;
    }
    .cardCollege{
        width: 100vw;
        height: 360px;
        left: 0;
        top: 260px;
        border-radius: 0;
    }
    .welcomeNote{
        width: 100vw;
        font-size: 32px;
        top: 70px;
        height: auto;
    }
    .welcomeNote p:nth-child(2){
        font-size: 20px;
        width: 100vw;
    }
    input {
        font-size: 16px;
        align-items: center;
        padding: 5px;
    }
    .nameField > input, .numberField > input, .personalField > input {
        width: 45vw;
        height: 40px;
    }
    .emailField > input, .collegeName > input, .yearOfStudy > input, .branch > input, .collegeCity > input {
        width: 95vw;
        height: 40px;
    }
    .addressField > textarea {
        width: 95vw;
        height: 130px;
        font-size: 16px;
        align-items: center;
        padding: 5px;
    }
    .button{
        width: 40vw;
        left: 30%;
        height: 40px;
    }
    .switch{
        position: absolute;
        width: 60vw;
        height: 40px;
        top: 200px;
        left: 20vw;
    }
    .switch-btn{
        font-size: .8em;
    }
    
}