*{
    outline: none;   
}

body {
    color: #000;
    background-color: #f4f4f4;
    margin: 0;
    overflow-x: hidden;
}

html, body{
    color: black;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(90.48deg, #504DFF 0.22%, #00E0FF 99.75%);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.nav-logo{
    display: flex;
    align-items: center;
}

.nav-logo img{
    height: 40px;
    margin: 5px;
}

.nav-logo h1{
    margin: 0px 10px;
    font-size: 32px;
    letter-spacing: 5px;
    font-weight: 100;
    text-transform: uppercase;
    cursor: default;
    color: #fff;
}

.dashBoard{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: calc(100vh - 50px);
    justify-content: space-around;
    top: 50px;
}

.welcomeNote{
    font-weight: 800;
    font-size: 64px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.welcomeNote > p{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.welcomeNote p:nth-child(2){
    font-size: 36px;
    width: 300px;
    font-weight: 400;
    color: #111;
}

.form-container{
    display: flex;
    justify-content: center;    
    flex-wrap: wrap;
    flex-direction: column;
}

.switch{
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 50px 50px 50px 50px;
}

.switch-btn{
    width: 100px;
    text-align: center;
    background: white;
    color: black;
    font-size: 18px;
    padding: 5px 15px;
    text-transform: uppercase;
    cursor: pointer;
}

.switch-btn:nth-child(1){
    border-radius: 50px 0 0 50px;
}

.switch-btn:nth-child(2){
    border-radius: 0px 50px 50px 0px;
}

.switch-btn-active{
    background: black;
    color: white;
}

form{
    padding: 20px;
    width: 500px;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#card-college{
    display: none;
}

.inputField{
    display: flex;
    margin: 10px 0px;
}

.inputField > input{
    margin: 0 5px;
    width: 50%;
    border: 1px solid #504DFF;
    border-radius: 5px;
    font-family: Poppins;
    font-size: 18px;
    align-items: center;
    padding: 5px;
}

.inputField > input[name="email"]{
    width: 100%;
}

.inputField > textarea{
    width: 100%;
    margin: 0 5px;
    border: 1px solid #504DFF;
    border-radius: 5px;
    font-family: Poppins;
    font-size: 18px;
    align-items: center;
    padding: 5px;
    resize: none;
}

#card-college > .inputField > input{
    width: 100%;
}

.button{
    letter-spacing: 2px;
    align-self: center;
    width: 150px;
    padding: 5px;
    border: none;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-family: Poppins;
    color: white;
    font-size: 18px;
    align-items: center;
    background: #504DFF;
    cursor: pointer;
    margin: 20px 0px 10px 0px;
    text-transform: uppercase;
}

.button:hover {
    background: #4834DF;
}

@media only screen and (max-width: 768px){
    .form-container{
        flex-direction: column;
    }
    
    #card-college > .inputField > input{
        width: 100%;
        margin: 0 10px;
    }
    
    #card-personal > .inputField > input{
        margin: 0 10px;
    }
    
    .inputField > textarea{
        margin: 0 10px;
    }
    
    form{
        width: 100vw;
        margin: 0 0 10px 0;
        padding: 0;
        border-radius: 0;
    }
    
    .welcomeNote{
        width: 100%;
        font-size: 36px;
    }
    
    .welcomeNote p:nth-child(2){
        font-size: 24px;
        width: 100%;
        font-weight: 400;
        color: #111;
    }
}