body {
    color: #000;
    background-color: #f4f4f4;
    transition: background-color 1s ease;
    margin: 0;
}

html, body{
    color: black;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
form {
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    width: 100vw;
    z-index: 999;
}

.nav-logo{
    display: flex;
    align-items: center;
}

.nav-logo img{
    height: 50px;
    width: 35px;
    margin: 10px;
}

.nav-logo h1{
    margin: 10px;
    font-size: 32px;
    letter-spacing: 5px;
    font-weight: 100;
    text-transform: uppercase;
    cursor: default;
    color: #fff;
}

.nav-ul{
    list-style: none;
    justify-content: space-around;
    width: 100px;
    flex-wrap: wrap;
    margin: 0;
    position: absolute;
    right: 0px;
    height: 0vh;
    top: 70px;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    transition: 0.5s;
    padding: 0px;
    z-index: 50;
}

.nav-ul.active{
    display: flex;
    opacity: 1;
    animation: fadeIn 0.5s;
    height: calc(100vh - 70px);
}

.nav-ul-a{
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 500;
    color: white;
    display: none;
}

.nav-ul-a.active{
    display: flex;
    cursor: pointer;
    font-weight: bold;
}

@keyframes fadeIn{
    from{opacity: 0; height: 0}
    to{opacity: 1; height: calc(100vh - 70px)}
}

.burger{
    cursor: pointer;
    display: block;
    margin: 10px;
}

.burger div{
    width: 25px;
    height: 3px;
    margin: 5px;
    margin-right:25px; 
    background-color: white;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

.dashBoard{
    width: 100vw;
    height: 100vh;
    position: relative;
    background: linear-gradient(90.48deg, #504DFF 0.22%, #00E0FF 99.75%);
}

.switch{
    position: absolute;
    width: 20vw;
    height: 4vh;
    border-radius: 50px 0 0 50px;
    top: 18vh;
    left: 65vw;
    display: flex;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.switch1{
    position: relative;
    width: 50%;
    background: black;
    border: black 2px solid;
    border-radius: 50px 0 0 50px;
    color: white;
    font-size: 24px;
}
.switch2{
    position: relative;
    width: 50%;
    background: white;
    border: black 2px solid;
    border-radius: 0 50px 50px 0;
    color: black;
    font-size: 24px;
}
.switch4{
    position: relative;
    width: 50%;
    background: black;
    border: black 2px solid;
    border-radius: 0 50px 50px 0;
    color: white;
    font-size: 24px;
}
.switch3{
    position: relative;
    width: 50%;
    background: white;
    border: black 2px solid;
    border-radius: 50px 0 0 50px;
    color: black;
    font-size: 24px;
}
.cardPersonal{
    /* display: none; */
    position: absolute;
    width: 40vw;
    height: 60vh;
    background: #FFFFFF;
    border-radius: 50px;
    top: 25vh;
    left: 55vw;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.25);
}
.notactive{
    display: none;
}
.cardCollege{
    z-index: -1;
    position: absolute;
    width: 40vw;
    height: 45vh;
    background: #FFFFFF;
    border-radius: 50px;
    top: 30vh;
    left: 55vw;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.25);
}
.active{
    z-index: 1;
}
.welcomeNote{
    position: absolute;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    width: 60vw;
    top: 35vh;
}
.welcomeNote > p{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-content: center;
}
input{
    border: 3px solid #504DFF;
    border-radius: 8px;
    font-family: Poppins;
    font-weight: normal;
    font-size: 18px;
    align-items: center;
    padding: 10px;
}
.nameField{
    width: 100%;
    display: flex;
    position: relative;
    top: 5vh;
    justify-content: space-around;
}
.nameField > input {
    width: 15vw;
    height: 5vh;
}
.emailField{
    width: 100%;
    display: flex;
    position: relative;
    top: 7vh;
    justify-content: space-around;
}
.emailField > input {
    width: 35vw;
    height: 5vh;
}
.numberField{
    width: 100%;
    display: flex;
    position: relative;
    top: 9vh;
    justify-content: space-around;
}
.numberField > input {
    width: 15vw;
    height: 5vh;
}
.personalField{
    width: 100%;
    display: flex;
    position: relative;
    top: 12vh;
    justify-content: space-around;
}
.personalField > input {
    width: 15vw;
    height: 5vh;
}
.addressField{
    width: 100%;
    display: flex;
    position: relative;
    top: 15vh;
    justify-content: space-around;
}
.addressField > textarea {
    width: 35vw;
    height: 15vh;
    border: 3px solid #504DFF;
    border-radius: 8px;
    font-family: Poppins;
    font-weight: normal;
    font-size: 18px;
    align-items: center;
    padding: 10px;
}
.button{
    position: relative;
    width: 10vw;
    height: 5vh;
    top: 17vh;
    left: 40%;
    border: none;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    font-family: Poppins;
    font-weight: bolder;
    color: white;
    font-size: 20px;
    align-items: center;
    /* padding: 10px; */
    background: #504DFF;
    cursor: pointer;
}
.button:hover {
    box-shadow: 0 0px 16px 0 rgba(0,0,0,0.15), 0 0px 16px 0 rgba(0,0,0,0.15);
}

.collegeName{
    width: 100%;
    display: flex;
    position: relative;
    top: 5vh;
    justify-content: space-around;
}
.collegeName > input {
    width: 35vw;
    height: 5vh;
}
.yearOfStudy{
    width: 100%;
    display: flex;
    position: relative;
    top: 7vh;
    justify-content: space-around;
}
.yearOfStudy > input {
    width: 35vw;
    height: 5vh;
}
.branch{
    width: 100%;
    display: flex;
    position: relative;
    top: 9vh;
    justify-content: space-around;
}
.branch > input {
    width: 35vw;
    height: 5vh;
}
.collegeCity{
    width: 100%;
    display: flex;
    position: relative;
    top: 12vh;
    justify-content: space-around;
}
.collegeCity > input {
    width: 35vw;
    height: 5vh;
}

@media (max-width: 600px){
    .nav-logo h1{
        margin: 0px;
        font-size: 24px;
        letter-spacing: 1px;
        font-weight: 100;
        text-transform: uppercase;
        cursor: default;
        color: #fff;
    }
    .cardPersonal{
        width: 100vw;
        height: 60vh;
        left: 0;
        top: 34vh;
        border-radius: 0;
    }
    .cardCollege{
        width: 100vw;
        height: 45vh;
        left: 0;
        top: 44vh;
        border-radius: 0;
    }
    .welcomeNote{
        position: absolute;
        width: 100vw;
        text-align: center;
        font-weight: 800;
        font-size: 32px;
        color: #FFFFFF;
        top: 10vh;
        left: 0;
    }
    .nameField > input {
        width: 45vw;
        font-size: 16px;
        align-items: center;
        padding: 5px;
    }
    .emailField > input {
        width: 95vw;
        font-size: 16px;
        align-items: center;
        padding: 5px;
    }
    .numberField > input {
        width: 45vw;
        font-size: 16px;
        align-items: center;
        padding: 5px;
    }
    .personalField > input {
        width: 45vw;
        font-size: 16px;
        align-items: center;
        padding: 5px;
    }
    .addressField > textarea {
        width: 95vw;
        font-size: 16px;
        align-items: center;
        padding: 5px;
    }
    .collegeName > input {
        width: 95vw;
        font-size: 16px;
        align-items: center;
        padding: 5px;
    }
    .yearOfStudy > input {
        width: 95vw;
        font-size: 16px;
        align-items: center;
        padding: 5px;
    }
    .branch > input {
        width: 95vw;
        font-size: 16px;
        align-items: center;
        padding: 5px;
    }
    .collegeCity > input {
        width: 95vw;
        font-size: 16px;
        align-items: center;
        padding: 5px;
    }
    .button{
        width: 40vw;
        left: 30%;
    }
    .switch{
        position: absolute;
        width: 50vw;
        height: 5vh;
        border-radius: 50px 0 0 50px;
        top: 28vh;
        left: 25vw;
    }
    .switch1{
        position: relative;
        width: 50%;
        font-size: 16px;
    }
    .switch2{
        position: relative;
        width: 50%;
        font-size: 16px;
    }
    .switch4{
        position: relative;
        width: 50%;
        font-size: 16px;
    }
    .switch3{
        position: relative;
        width: 50%;
        font-size: 16px;
    }
}