<head>
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">
        <title>Shankhnaad'19 | Admin</title>
</head>
<body>
        <h1 style = "display: flex; justify-content: center; align-items: center; text-transform: uppercase; font-family: 'Poppins', sans-serif; letter-spacing: 10px;
font-size: 48px;">Shankhnaad'19</h1>
        <p style = "display: flex; justify-content: center; height: 10vh; align-items: center; font-size: 18px">Hi <%= name %>, Admin portal is under construction</p>
</body>