<head>
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">
    <link rel = "stylesheet" type = "text/css" href = "../css/login.css">
    <title>Admin Login</title>
</head>
<body>
    <form method = "POST" action = "/register">
        <h2>Admin Login</h2>
        <label for = "id">Email</label>
        <input id = "id" name="id" type = "text" class = "fields" autocomplete = "off" required>
        <br>
        <label for = "pass">Password</label>
        <input id="password" name = "password" type = "password" class = "fields" autocomplete = "off" required>
        <br>
        <input type = "submit" id = "login-btn" name = "login" value = "Login">
    </form>
</body>