*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background: #7894CA;
    color: white;
}
span {
    color: #fff;
}
ul.main { 
    list-style: none;
    max-width: 75%;
    margin: 20px auto;
}

h3 {padding: 0; margin: 0;}
    
.date {
    width: 17%;
    padding: 15% 1% 0 0 ;
    float: left;
}
    
.date h3 {
    font-size: 2.5em;
}
    
.date p {
    font-size: 1.4em;
}
    
.events {
    float: left;
    width: 80%;
    border-left: 1px solid #ccc;
    margin-top: 10%;
    padding-top: 3%;
}
    
.events-detail {
    max-width: 550px;
}
    
.events-detail li{
    display: flex;
    padding: 10px;
    border-bottom: 1px dashed #ccc;
    line-height: 22px;
    transition: ease .4s all;
    height: max-content;
}
    
.events-detail li:hover {
    background: #7079b9;
}
.event-name {
    font-size: 1.5rem;
}

.event-time {
    font-weight: 900;
    font-size: 1.4rem;
}
    
.events-detail li a {
    text-decoration: none;
    color: #444;
    width: 100%;
    height: 100%;
    display: block;
}

.button {
    border: none;
    background-color: rgb(51, 108, 221);
    color: white;
    border-radius: 8px;
    width: 60px;
    height: 30px;
    margin: auto 0 auto 40px;
    cursor: pointer;
}
.popup-button {
    border: none;
    background-color: rgb(51, 108, 221);
    color: white;
    border-radius: 8px;
    width: 60px;
    height: 30px;
    margin: auto 0 auto 40px;
    cursor: pointer;
}
div.popup {
    border-radius: 1.6em;
    background: rgba(0, 0, 0, 0.66);
    display: none;
    height: auto;
    left: 27.2%;
    margin-bottom: 3%;
    padding: 0;
    position: absolute;
    top: 18%;
    width: 45%;
    z-index: 999;
}
  
img.image {
    display: block;
    margin: 3% 0 0 18.6%;
    padding-bottom: 4%;
    width: 64%;
}
  
img.close_button {
    cursor: pointer;
    float: right;
    margin: 2%;
}
div.button {
    background: #255F85;
    border-radius: 0.6em;
    color: white;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    margin: 10% auto 0;
    padding: 1%;
    text-align: center;
    width: 18%;
}
  

@media all and (max-width: 641px) {
    .date {
        width: 100%;
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
    }
      
    .events {
        border:none;
        width: 100%;
        margin-top: 0;
    }
      
    .events-detail {
        padding: 0;
    }
      
    li.date p {
        margin:0;
    }
    .button {
        margin: 15px 20px 0px auto;
    }
    .popup-button {
        margin: 0;
    }
    div.popup {
        left: 5vw;
        top: 20%;
        width: 90vw;
    }
}
