* {
	outline: none;
}

body {
	color: #000;
	background-color: #f4f4f4;
	margin: 0;
	overflow-x: hidden;
}

html,
body {
	color: black;
	font-size: 16px;
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
	background: linear-gradient(90.48deg, #504dff 0.22%, #00e0ff 99.75%);
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.8);
	width: 100vw;
	z-index: 1;
}

.nav-logo {
	display: flex;
	align-items: center;
}

.nav-logo img {
	height: 35px;
	margin: 5px;
}

.nav-logo h1 {
	margin: 0px 5px;
	font-size: 28px;
	letter-spacing: 5px;
	font-weight: 100;
	text-transform: uppercase;
	cursor: default;
	color: #fff;
}

.dashBoard {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	min-height: calc(100vh - 50px - 10vh);
	justify-content: space-around;
	align-items: center;
}

.welcomeNote {
	font-size: 64px;
	align-items: center;
	text-align: center;
	color: #ffffff;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.welcomeNote > p {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.welcomeNote p:nth-child(2) {
	font-size: 36px;
	width: 300px;
	font-weight: 400;
	color: #111;
}

.form-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
}

.switch {
	font-size: 20px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	padding: 0;
	margin: 20px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border-radius: 50px 50px 50px 50px;
}

.switch-btn {
	width: 100px;
	text-align: center;
	background: white;
	color: black;
	font-size: 16px;
	padding: 10px 15px;
	text-transform: uppercase;
	cursor: pointer;
	border: none;
}

.switch-btn:nth-child(1) {
	border-radius: 5px 0 0 5px;
}

.switch-btn:nth-child(2) {
	border-radius: 0px 5px 5px 0px;
}

.switch-btn-active {
	background: black;
	color: white;
}

form {
	padding: 20px;
	width: 600px;
	background: #ffffff;
	border-radius: 5px;
	box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#card-college {
	display: none;
}

.inputField {
	display: flex;
	margin: 10px 0px;
}

.inputField > input {
	margin: 0 5px;
	width: 50%;
	border: 1px solid #504dff;
	border-radius: 5px;
	font-family: Poppins;
	font-size: 16px;
	align-items: center;
	padding: 10px;
}

.inputField > input[name="email"] {
	width: 100%;
}

.inputField > textarea {
	width: 100%;
	margin: 0 5px;
	border: 1px solid #504dff;
	border-radius: 5px;
	font-family: Poppins;
	font-size: 16px;
	align-items: center;
	padding: 10px;
	resize: none;
}

#card-college > .inputField > input {
	width: 100%;
}

.button {
	letter-spacing: 2px;
	align-self: center;
	width: 150px;
	padding: 5px;
	border: none;
	box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	font-family: Poppins;
	color: white;
	font-size: 16px;
	align-items: center;
	background: #504dff;
	cursor: pointer;
	margin: 20px 0px 10px 0px;
	text-transform: uppercase;
}

.button:hover {
	background: #4834df;
}

input.input-error,
textarea.input-error {
	position: relative;
	border: 1px solid red;
	animation: shake 0.2s;
	transition: 1s;
}

@keyframes shake {
	0%,
	100% {
		left: 0;
	}
	20%,
	80% {
		left: -15px;
	}
	40%,
	60% {
		left: 15px;
	}
}

@media only screen and (max-width: 768px) {
	.nav-logo h1 {
		font-size: 22px;
	}

	.dashboard {
		flex-direction: column;
		justify-content: flex-start;
		flex-wrap: nowrap;
	}

	.form-container {
		margin-top: 20px;
		flex-direction: column;
	}

	#card-personal > .inputField > input {
		margin: 0 10px;
	}

	#card-college > .inputField > input {
		width: 100%;
		margin: 0 10px;
	}

	.inputField > textarea {
		margin: 0 10px;
	}

	form {
		width: 100vw;
		margin: 0 0 10px 0;
		padding: 0;
		border-radius: 0;
	}

	.welcomeNote {
		width: 100%;
		font-size: 36px;
		margin-top: 20px;
	}

	.welcomeNote p:nth-child(2) {
		font-size: 24px;
		width: 100%;
		font-weight: 400;
		color: #111;
	}
}

.alert {
	padding: 10px;
	box-sizing: border-box;
	border: none;
	font-size: 16px;
	position: fixed;
	top: 0px;
	width: 300px;
	height: auto;
	color: white;
	left: calc(50% - 150px);
	text-align: center;
	display: none;
	opacity: 0;
}

.error-alert {
	background-color: #ffbaba;
	color: #d8000c;
	display: block;
}

.success-alert {
	background-color: #dff2bf;
	color: #270;
	display: block;
}

footer {
	margin: 0;
	padding: 0;
	min-height: 10vh;
	font-size: 14px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	box-sizing: border-box;
	align-items: center;
	display: flex;
	justify-content: center;
}
