@import url("https://fonts.googleapis.com/css?family=Hind"); /*--- Body Font --*/
@import url("https://fonts.googleapis.com/css?family=Nobile"); /*--- Heading Font --*/
@import url("https://fonts.googleapis.com/css?family=Martel");

* {
	outline: none;
	margin: 0;
	border: 0;
	padding: 0;
}

html,
body {
	color: black;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

/* CSS FOR NAV STARTS HERE */

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	width: 100vw;
	z-index: 1;
}

.nav-logo {
	display: flex;
	align-items: center;
}
.nav-logo img {
	height: 35px;
	margin: 5px;
}

.nav-logo h1 {
	margin: 0px 5px;
	font-size: 28px;
	letter-spacing: 5px;
	font-weight: 100;
	text-transform: uppercase;
	cursor: default;
	color: #fff;
	font-family: "Poppins", sans-serif;
}

.nav-ul {
	list-style: none;
	justify-content: space-around;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin: 0;
	position: absolute;
	right: 0px;
	height: 0vh;
	top: 50px;
	background-color: rgba(0, 0, 0, 0.8);
	align-items: center;
	width: 200px;
	transition: 0.5s;
	padding: 0px;
	z-index: 50;
}

.nav-ul.active {
	display: flex;
	opacity: 1;
	animation: fadeIn 0.5s;
	height: calc(100vh - 50px);
}

.nav-ul-a {
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: 500;
	color: white;
	display: none;
}

.nav-ul-a.active {
	display: flex;
	cursor: pointer;
	font-weight: bold;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		height: 0;
	}
	to {
		opacity: 1;
		height: calc(100vh - 50px);
	}
}

.burger {
	cursor: pointer;
	display: block;
	margin: 10px 20px 10px 10px;
}

.burger div {
	width: 25px;
	height: 3px;
	margin: 5px;
	background-color: white;
	border-radius: 10px;
	transition: all 0.3s ease;
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}

/* CSS FOR REST OF THE PAGE STARTS HERE */

body {
	background-color: #fff;
	font-family: "Hind", sans-serif;
	font-size: 16px;
	position: relative;
}

h1 {
	font-family: "Nobile", sans-serif;
	text-align: center;
	font-size: 175%;
	color: #4a4444;
	text-transform: uppercase;
	letter-spacing: 3px;
	padding: 3% 0;
}

h3 {
	font-family: "Martel", serif;
	text-align: center;
	color: #4a4444;
	text-transform: uppercase;
	letter-spacing: 2px;
}

h4 {
	font-family: "Martel", sans-serif;
	color: #000000;
	letter-spacing: 1px;
	text-align: justify;
	text-align-last: center;
}

p {
	padding: 2%;
	color: #4a4444;
	text-align: justify;
}

img {
	max-width: 100%;
	height: auto;
}

#banner-wrapper {
	max-width: 1280px;
	margin: 0 auto;
}

/*  Image Slider Style  */
.slider {
	width: 100%;
	/* height: 90vh; */
}

.slider img {
	height: 100vh;
	width: 100%;
	/* margin: 0 auto; */
	box-sizing: border-box;
}

.one-one {
	width: 90%;
	float: center;
	margin: 2% 0 3% 4%;
	text-align: center;
}

.one-half {
	width: 44%;
	float: left;
	margin: 2% 0 3% 4%;
	text-align: center;
}

.one-third {
	width: 28%;
	float: left;
	margin: 2% 0 3% 4%;
	text-align: center;
}

.left-col {
	width: 60%;
	float: left;
	margin: 4% 0 4% 4%;
}

.sidebar {
	width: 26%;
	float: right;
	margin: 4% 4%;
}

.sidebar img {
	opacity: 0.8;
}

.slider .bx-wrapper {
	margin: 0;
	border: none;
}

.bx-wrapper {
	border: none;
	margin: 0;
}

.clearfix {
	clear: both;
}

/*
.quotation {
    text-align: justify;
    margin: 0px 40%;
}
*/

/*  Start Parallax Section */
.parallax-1 {
	height: 400px;
	background: url("/img/parallax-1.jpg") repeat fixed 100%;
	text-align: center;
}

.parallax-2 {
	height: 400px;
	background: url("/img/parallax-2.jpg") repeat fixed 100%;
	text-align: center;
}

.parallax-3 {
	height: 400px;
	background: url("/img/parallax-3.jpg") repeat fixed 100%;
	text-align: center;
}

.parallax-inner {
	padding-top: 90px;
	padding-bottom: 300px;
}

.parallax-inner h3,
.parallax-inner p {
	color: #f1f1f1;
}
/*  End Parallax Section    */

footer {
	margin: 0;
	padding: 0;
	height: 15vh;
	padding: 10px;
	font-size: 14px;
	text-align: center;
	background-color: rgba(0, 0, 0, 1);
	color: white;
}

/*  Start Document Media */
@media screen and (max-width: 768px) {
	.nav-logo h1 {
		font-size: 22px;
	}
	.nav-ul-a {
		font-size: 14px;
	}

	.slider {
		width: 100%;
	}

	.parallax-1 {
		display: none;
	}

	.parallax-2 {
		display: none;
	}

	.parallax-3 {
		display: none;
	}

	.parallax-inner {
		display: none;
	}
	.one-third {
		width: 100%;
		margin: 4% 0;
	}
	.one-half {
		display: 100%;
		margin: 2% 2%;
	}
	h1 {
		font-size: 125%;
	}
	.left-col {
		width: 100%;
		margin: 0 0 3% 0;
	}
	.sidebar {
		width: 100%;
		margin: 0;
	}
	.slider img {
		width: 100%;
	}
	h3 {
		padding-top: 3%;
	}
}
/*  End Document Media  */
