@import url("https://fonts.googleapis.com/css?family=Hind"); /*--- Body Font --*/
@import url("https://fonts.googleapis.com/css?family=Nobile"); /*--- Heading Font --*/
@import url("https://fonts.googleapis.com/css?family=Martel");
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

* {
	outline: none;
	margin: 0;
	border: 0;
	padding: 0;
}

html,
body {
	color: black;
	font-size: 16px;
	margin: 0;
	padding: 0;
	overflow: overlay;
	scroll-behavior: smooth;
}

.loader-wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #202840;
	z-index: 10;
}

#logo {
	position: absolute;
	top: 50vh;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 800px;
}

#logo path:nth-child(1) {

}

#logo path:nth-child(2) {
    stroke-dasharray: 493.9128112792969;
    stroke-dashoffset: 493.9128112792969;
    animation: line-anim 2s ease forwards;
}

#logo path:nth-child(3) {
    stroke-dasharray: 477.7687683105469;
    stroke-dashoffset: 477.7687683105469;
    animation: line-anim 2s ease forwards 0.25s;
}

#logo path:nth-child(4) {
    stroke-dasharray: 506.44561767578125;
    stroke-dashoffset: 506.44561767578125;
    animation: line-anim 2s ease forwards 0.5s;
}

#logo path:nth-child(5) {
    stroke-dasharray: 422.4999084472656;
    stroke-dashoffset: 422.4999084472656;
    animation: line-anim 2s ease forwards 0.75s;
}

#logo path:nth-child(6) {
    stroke-dasharray: 467.8448181152344;
    stroke-dashoffset: 467.8448181152344;
    animation: line-anim 2s ease forwards 1s;
}

#logo path:nth-child(7) {
    stroke-dasharray: 477.7682189941406;
    stroke-dashoffset: 477.7682189941406;
    animation: line-anim 2s ease forwards 1.25s;
}

#logo path:nth-child(8) {
    stroke-dasharray: 422.5007019042969;
    stroke-dashoffset: 422.5007019042969;
    animation: line-anim 2s ease forwards 1.5s;
}

#logo path:nth-child(9) {
    stroke-dasharray: 506.4461669921875;
    stroke-dashoffset: 506.4461669921875;
    animation: line-anim 2s ease forwards 1.75s;
}

#logo path:nth-child(10) {
    stroke-dasharray: 506.4463195800781;
    stroke-dashoffset: 506.4463195800781;
    animation: line-anim 2s ease forwards 2s;
}

#logo path:nth-child(11) {
    stroke-dasharray: 561.4005126953125;
    stroke-dashoffset: 561.4005126953125;
    animation: line-anim 2s ease forwards 2.25s;
}

@keyframes line-anim{
    to{
        stroke-dashoffset: -10;
    }
}

/* CSS FOR NAV STARTS HERE */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	z-index: 1;
	position: fixed;
	top: 0;
}

.nav-logo {
	display: flex;
	align-items: center;
}

.nav-logo img {
	height: 35px;
	margin: 5px;
}

.nav-logo h1 {
	margin: 0px 5px;
	font-size: 28px;
	letter-spacing: 5px;
	font-weight: 100;
	text-transform: uppercase;
	cursor: default;
	color: #fff;
	font-family: "Poppins", sans-serif;
}

.nav-ul {
	list-style: none;
	justify-content: space-around;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin: 0;
	position: absolute;
	height: 0vh;
	top: 0px;
	background-color: rgba(0, 0, 0, .9);
	align-items: center;
	width: 100%;
	transition: 0.5s;
	padding: 0px;
	z-index: 1;
}

.nav-ul.active {
	display: flex;
	animation: fadeIn 0.5s;
	height: 100vh;
}

html.nav-active {
	overflow: hidden;
}

.nav-ul-a {
	text-decoration: none;
	color: white;
	display: none;
	font-size: 20px;
	border: 2px solid white;
	padding: 5px 10px;
	width: 150px;
	justify-content: center;
}

.nav-ul-a:hover {
	background-color: white;
	color: black;
}

.nav-ul-a.active {
	display: flex;
	cursor: pointer;
	font-weight: bold;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		height: 0;
	}
	to {
		opacity: 1;
		height: 100vh;
	}
}

.burger {
	cursor: pointer;
	display: block;
	margin: 10px 20px 10px 10px;
	position: relative;
	z-index: 2;
}

.burger div {
	width: 25px;
	height: 3px;
	margin: 5px;
	background-color: white;
	border-radius: 10px;
	transition: all 0.3s ease;
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}

/* CSS FOR REST OF THE PAGE STARTS HERE */
body {
	background-color: #fff;
	font-family: "Hind", sans-serif;
	font-size: 16px;
	position: relative;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	padding: 3% 0;
	text-align: center;
	letter-spacing: 5px;
	text-transform: uppercase;
	font-size: 20px;
}

h3 {
	font-family: "Martel", serif;
	text-align: center;
	color: #4a4444;
	text-transform: uppercase;
	letter-spacing: 2px;
}

h4 {
	font-family: "Martel", sans-serif;
	color: #000000;
	letter-spacing: 1px;
	text-align: justify;
	text-align-last: center;
}

p {
	padding: 2%;
	color: #4a4444;
	text-align: justify;
}

#shankhnaad-intro {
	font-size: 17px;
	padding: auto;
	color: #ffffff;
	text-align: justify;
	max-height: inherit;
}

img {
	max-width: 100%;
	height: auto;
}

.banner-wrapper {
	max-width: 100%;
	margin: 0 auto;
}

.image-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

/*  Image Slider Style  */
.slider {
	width: 100%;
}

.slider img {
	height: auto;
	width: 100%;
	box-sizing: border-box;
}
/*	End Image Slider Style	*/

/*	Column Style	*/
.one-one {
	width: 90%;
	float: center;
	margin: 2% 0 3% 4%;
	text-align: center;
}

.one-half {
	width: 44%;
	float: left;
	margin: 2% 0 3% 4%;
	text-align: center;
}

.one-third {
	width: 28%;
	float: left;
	margin: 2% 0 3% 4%;
	text-align: center;
}

.left-col {
	width: 60%;
	float: left;
	margin: 4% 0 4% 4%;
}

.sidebar {
	width: 26%;
	float: right;
	margin: 4% 4%;
}

.sidebar img {
	opacity: 0.8;
}

.slider .bx-wrapper {
	margin: 0;
	border: none;
}

.bx-wrapper {
	border: none;
	margin: 0;
}

.clearfix {
	clear: both;
}
/*	End Columne Style	*/

.event-button {
	display: block;
	width: 40%;
	padding: 4px 20px;
	margin: 0 auto;
	margin-top: 20px;
	background: #0C1D2F;
	border-radius: 10px;
	color: white;
	font-weight: bold;
	text-decoration: none;
}

/*	Testimonials	*/
.testimonial-section {
	padding: 20px 0;
	text-align: center;
}
  
.testimonial-section .inner-width {
	width: 80%;
	margin: auto;
	padding: 0 20px;
}


.testimonial-section h1 {
	font-weight: 400;
	letter-spacing: 10px;
	text-transform: uppercase;
	font-size: 20px;
}

.testimonial-pics {
	padding: 20px 40px;
}

.testimonial-pics img {
	width: 100px;
	height: auto;
	border-radius: 50%;
	margin: 0 40px;
	filter: grayscale(100%);
	transition: .3s;
	cursor: pointer;
}

.testimonial-pics img:hover, .testimonial-pics img.active {
	filter: none;
}  

.testimonial-contents {
	max-width: 80%;
	margin: auto;
}

.testimonial {
	display: none;
}

.testimonial.active {
	display: block;
}

.testimonial p {
	color: #5c5c5c;
	margin-bottom: 20px;
}

.testimonial .description {
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 15px;
}

#img-sponsors {
	margin: 0 auto;
	padding: 20px 50px;
}

#img-college {
	padding: 50% 0;
}

/*  Start Parallax Section */
.parallax {
	text-align: center;
	background-image: url("../../img/background.png");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax-inner {
	max-height: inherit;
	padding: 50px 10%;
}

.parallax-inner h3, .parallax-inner p {
	color: #f1f1f1;
}
/*  End Parallax Section    */

footer {
	margin: 0;
	padding: 35px 100px;
	min-height: 10vh;
	font-size: 14px;
	text-align: center;
	background-color: rgba(0, 0, 0, 1);
	color: white;
	box-sizing: border-box;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.footer-content {
	display: flex;
}

.footer-content .col {
	padding: 0px 0;
	margin: 0 auto;
	height: 300px;
}

.footer-content #main {
	padding: auto 0;
	color: none;
	text-decoration: none;
}

.footer-content #main h3{
	color: rgba(255,255,255,0.95);
	text-align: left;
}

.footer-content #main ul {
	list-style-type: none;
	text-align: left;
}

.footer-content #main ul li{
	padding: 0px 0;
	display: inline;
	text-align: left;
	justify-content: space-between;
	cursor: pointer;
}

.footer-content #main ul li a{
	color: rgba(255,255,255,0.75);
	text-decoration: none;
}

li + li::before {
	content: "  |  ";
}

.footer-content #map {
	height: 300px;
	width: 300px;
}

.footer-end:after {
	content: "";
	display: table;
	clear: both;
}

#footer-end-text {
	padding-top: 35px;
}

#social-media-icons {
	text-align: left;
}

#social-media-icons a{
	font-size: 24px;
	padding: 10px 10px 10px 0;
	cursor: pointer;
	color: #4a4444;
	text-decoration: none;
}

#social-media-icons a:hover{
	color: white;
}

/*  Start Document Media */
@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	#logo {
	  width: 400px;
	}
}

@media screen and (max-width: 768px) {

	.nav-logo h1 {
		font-size: 22px;
	}

	.nav-ul-a {
		font-size: 16px;
	}

	.slider {
		width: 100%;
	}

	.one-third {
		width: 100%;
		margin: 4% 0;
	}

	.one-half {
		display: 100%;
		margin: 2% 2%;
	}

	h1 {
		font-size: 125%;
	}

	.left-col {
		width: 100%;
		margin: 0 0 3% 0;
	}

	.sidebar {
		width: 100%;
		margin: 0;
	}

	.slider img {
		width: 100%;
	}

	h3 {
		padding-top: 3%;
	}

	.footer-content {
		display: inline-block;
	}

	#map {
		padding-top: 75px;
		width: calc(100% - 10px);
	}
}

@media screen and (max-width: 1080px) {
	#parallax-intro {
		height: 250px;
	}
}

@media screen and (max-width: 768px) {
	#parallax-intro {
		height: 300px;
	}
	#shankhnaad-intro {
		font-size: 15px;
	}
}

@media screen and (max-width: 540px) {
	#parallax-intro {
		height: 350px;
	}
	#shankhnaad-intro {
		font-size: 14px;
	}
}

@media screen and (max-width: 360px) {
	#parallax-intro {
		height: 400px;
	}
	#shankhnaad-intro {
		font-size: 14px;
	}
}

/*  End Document Media  */


