/* This script contains CSS for both login and register page */

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    width: 350px;
    padding: 20px;
    background: rgba(0, 0, 0, .9);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

form h2{
    align-self: center;
    font-size: 2em;
    font-weight: 100;
    color: white;
    margin: 0 0 10px 0;
}

form label{
    font-size: 18px;
    color: white;
    margin: 5px 0px;
}

.fields{
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 3px 5px;
    margin: 0 0 10px 0;
}

#login-btn, #register-btn{
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
    margin: 20px 0;
    cursor: pointer;
}

#login-btn:hover, #register-btn:hover{
    background: #DFAF2B;
}

.response-error{
    background: #FF362E;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.response-success{
    background: #26ae60;
    color: white;
    border-radius: 5px;
    padding: 5px;
}