@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap");

* {
	box-sizing: border-box;
	outline: none;
}

html,
body {
	min-height: 100vh;
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Fira Sans", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: linear-gradient(to top, #2ebf91, #8360c3);
	background-blend-mode: multiply;
	margin: 0;
}

.form-structor {
	border-radius: 5px;
	height: 600px;
	width: 500px;
	position: relative;
	overflow: hidden;
}
.form-structor::after {
	content: "";
	opacity: 0.8;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #8360c3;
	background: -webkit-linear-gradient(to top, #2ebf91, #8360c3);
	background: linear-gradient(to top, #2ebf91, #8360c3);
}
.form-structor .signup {
	position: relative;
	top: 45%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	width: 65%;
	z-index: 5;
	-webkit-transition: all 0.3s ease;
}
.form-structor .signup.slide-up {
	top: 5%;
	-webkit-transform: translate(-50%, 0%);
	-webkit-transition: all 0.3s ease;
}
.form-structor .signup.slide-up .form-holder,
.form-structor .signup.slide-up .submit-btn {
	opacity: 0;
	visibility: hidden;
}
.form-structor .signup.slide-up .form-title {
	font-size: 1em;
	cursor: pointer;
}
.form-structor .signup.slide-up .form-title span {
	margin-right: 5px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: all 0.3s ease;
}
.form-structor .signup .form-title {
	color: #fff;
	font-size: 1.7em;
	text-align: center;
}
.form-structor .signup .form-title span {
	color: rgba(0, 0, 0, 0.4);
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease;
}
.form-structor .signup .form-holder {
	border-radius: 5px;
	background-color: #fff;
	overflow: hidden;
	margin-top: 50px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: all 0.3s ease;
}
.form-structor .signup .form-holder .input {
	border: 0;
	outline: none;
	box-shadow: none;
	display: block;
	line-height: 30px;
	padding: 5px 15px;
	border-bottom: 1px solid #ddd;
	width: 100%;
	font-size: 14px;
}
.form-structor .signup .form-holder .input:last-child {
	border-bottom: 0;
}
.form-structor .signup .form-holder .input::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.4);
}
.form-structor .signup .submit-btn {
	background-color: rgba(0, 0, 0, 0.4);
	color: rgba(255, 255, 255, 0.7);
	border: 0;
	border-radius: 5px;
	display: block;
	width: 100%;
	font-size: 13px;
	font-weight: bold;
	cursor: pointer;
	opacity: 1;
	visibility: visible;
	-webkit-transition: all 0.3s ease;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.form-structor .signup .submit-btn:hover {
	transition: all 0.3s ease;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
}
.form-structor .login {
	position: absolute;
	top: 20%;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 5;
	-webkit-transition: all 0.3s ease;
}
.form-structor .login::before {
	content: "";
	position: absolute;
	left: 50%;
	top: -20px;
	-webkit-transform: translate(-50%, 0);
	background-color: #fff;
	width: 200%;
	height: 250px;
	border-radius: 50%;
	z-index: 4;
	-webkit-transition: all 0.3s ease;
}
.form-structor .login .center {
	position: absolute;
	top: calc(50% - 10%);
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	width: 65%;
	z-index: 5;
	-webkit-transition: all 0.3s ease;
	padding: 0px 5px 0px 5px;
}
.form-structor .login .center .form-title {
	color: #000;
	font-size: 1.7em;
	text-align: center;
}
.form-structor .login .center .form-title span {
	color: rgba(0, 0, 0, 0.4);
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease;
}
.form-structor .login .center .form-holder {
	border-radius: 5px;
	background-color: #fff;
	border: 1px solid #eee;
	overflow: hidden;
	margin-top: 50px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: all 0.3s ease;
}
.form-structor .login .center .form-holder .input {
	border: 0;
	outline: none;
	box-shadow: none;
	display: block;
	line-height: 30px;
	padding: 5px 15px;
	border-bottom: 1px solid #eee;
	width: 100%;
	font-size: 14px;
}
.form-structor .login .center .form-holder .input:last-child {
	border-bottom: 0;
}
.form-structor .login .center .form-holder .input::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.4);
}
.form-structor .login .center .submit-btn {
	background-color: #6b92a4;
	color: rgba(255, 255, 255, 0.7);
	border: 0;
	border-radius: 5px;
	display: block;
	margin: 5px auto;
	width: 100%;
	font-size: 13px;
	font-weight: bold;
	cursor: pointer;
	opacity: 1;
	visibility: visible;
	-webkit-transition: all 0.3s ease;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.form-structor .login .center .submit-btn:hover {
	transition: all 0.3s ease;
	background-color: rgb(0, 111, 162);
	color: white;
}
.form-structor .login.slide-up {
	top: 90%;
	-webkit-transition: all 0.3s ease;
}
.form-structor .login.slide-up .center {
	top: 10%;
	-webkit-transform: translate(-50%, 0%);
	-webkit-transition: all 0.3s ease;
}
.form-structor .login.slide-up .form-holder,
.form-structor .login.slide-up .submit-btn {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease;
}
.form-structor .login.slide-up .form-title {
	font-size: 1em;
	margin: 0;
	padding: 0;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;
}
.form-structor .login.slide-up .form-title span {
	margin-right: 5px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: all 0.3s ease;
}

.text-button {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
	color: #145dc6;
}

.frgt-pswd {
	text-align: center;
	margin: 10px;
}

.frgt-pswd > a {
	font-size: 12px;
	color: #145dc6;
}

.resend-email {
	text-align: center;
	margin: 10px;
}

.resend-email > a {
	font-size: 12px;
	color: #145dc6;
}

.modal {
	position: fixed;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: 200ms ease-in-out;
	border: 0px solid black;
	border-radius: 5px;
	z-index: 10;
	background-color: white;
	width: 120%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.frgt-pswd .modal.active {
	transform: translate(-50%, -50%) scale(1);
}

.resend-email .modal.active {
	transform: translate(-50%, -55%) scale(1);
}

.modal-header {
	padding: 5px 10px;
	display: flex;
	justify-content: space-between;
	border-bottom: 0px solid black;
}

.modal-header .title {
	font-weight: bold;
	font-size: 16px;
	line-height: 5px;
	margin: 10px auto;
	text-align: center;
}

.modal-body {
	padding: 5px 10px;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
}

.modal-body > p {
	margin: 0px 0px 0px 0px;
}

.reset-form {
	margin: 15px 0px 15px 0px;
}

label,
input {
	display: block;
}

label {
	margin-bottom: 0px;
}

input[type="text"],
select {
	border: 0;
	outline: none;
	box-shadow: none;
	display: block;
	line-height: 30px;
	padding: 5px 15px;
	border: 1px solid #eee;
	border-radius: 5px;
	width: 100%;
	font-size: 14px;
}

.modal-body > a {
	color: #145dc6;
	margin: 0px 0px 0px;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	font-family: "Poppins", sans-serif;
	cursor: pointer;
}

input,
button {
	font-family: "Poppins", sans-serif;
}

.overlay {
	position: fixed;
	opacity: 0;
	transition: 200ms ease-in-out;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	background-color: #ffffff;
	pointer-events: none;
}

.overlay.active {
	opacity: 1;
	pointer-events: all;
}

.alert {
	padding: 10px;
	box-sizing: border-box;
	border: none;
	font-size: 16px;
	position: fixed;
	top: 0px;
	width: 300px;
	height: auto;
	color: white;
	left: calc(50% - 150px);
	text-align: center;
	display: none;
	opacity: 0;
	font-family: "Poppins", sans-serif;
	z-index: 10;
}

.error-alert {
	background-color: #ffbaba;
	color: #d8000c;
	display: block;
}

.success-alert {
	background-color: #dff2bf;
	color: #270;
	display: block;
}

#g-recaptcha-signin,
#g-recaptcha-signup {
	display: flex;
	justify-content: center;
	padding: 10px 5px;
}

.overlay {
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	display: none;
	z-index: 1;
}

.lds-ellipsis {
	display: none;
	position: relative;
	width: 80px;
	top: 18px;
	height: 50px;
}
.lds-ellipsis div {
	position: absolute;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: #fff;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
	left: 8px;
	animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
	left: 8px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
	left: 32px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
	left: 56px;
	animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes lds-ellipsis3 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}
@keyframes lds-ellipsis2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(24px, 0);
	}
}

@media screen and (max-width: 768px) {
	body {
		margin: 0;
	}

	.form-structor {
		width: 100vw;
		height: 100vh;
		border-radius: 0;
	}
	.form-structor::after {
		background-size: auto;
	}
}
