* {
	outline: none;
}

body {
	color: #000;
	background: linear-gradient(90.48deg, #504dff 0.22%, #00e0ff 99.75%);
	transition: background-color 1s ease;
	margin: 0;
}

html,
body {
	color: black;
	font-size: 16px;
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	z-index: 1;
}

.nav-logo {
	display: flex;
	align-items: center;
}
.nav-logo img {
	height: 35px;
	margin: 5px;
}

.nav-logo h1 {
	margin: 0px 5px;
	font-size: 28px;
	letter-spacing: 5px;
	font-weight: 100;
	text-transform: uppercase;
	cursor: default;
	color: #fff;
}

.nav-ul {
	list-style: none;
	justify-content: space-around;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin: 0;
	position: absolute;
	height: 0vh;
	top: 0px;
	background-color: rgba(0, 0, 0, 0.9);
	align-items: center;
	width: 100%;
	transition: 0.5s;
	padding: 0px;
	z-index: 1;
}

.nav-ul.active {
	display: flex;
	animation: fadeIn 0.5s;
	height: 100vh;
}

html.nav-active {
	overflow: hidden;
}

.nav-ul-a {
	text-decoration: none;
	color: white;
	display: none;
	font-size: 20px;
	border: 2px solid white;
	padding: 5px 10px;
	width: 150px;
	justify-content: center;
}

.nav-ul-a:hover {
	background-color: white;
	color: black;
}

.nav-ul-a.active {
	display: flex;
	cursor: pointer;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		height: 0;
	}
	to {
		opacity: 1;
		height: 100vh;
	}
}

.burger {
	cursor: pointer;
	display: block;
	margin: 10px 20px 10px 10px;
	position: relative;
	z-index: 2;
}

.burger div {
	width: 25px;
	height: 3px;
	margin: 5px;
	background-color: white;
	border-radius: 10px;
	transition: all 0.3s ease;
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}

#dashboard-container {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	min-height: calc(100vh - 50px - 10vh);
	justify-content: center;
	box-sizing: border-box;
	padding: 10px 0;
}

.dashboard {
	background: white;
	display: flex;
	flex-wrap: wrap;
	background-color: white;
	width: 100%;
}

.dashMenu {
	background: black;
	color: white;
	display: flex;
	flex-direction: column;
	flex-basis: 200px;
}

.dashMenu > div {
	padding: 10px;
}

.name {
	font-size: 32px;
}

.menulist {
	font-size: 16px;
	cursor: pointer;
}

#logout:hover {
	background: #ff3031;
	color: white;
}

.menulist:hover {
	background: white;
	color: black;
}

.menulist.active {
	background: white;
	color: black;
}

.form-container {
	display: flex;
	flex-direction: column;
	/* margin: 0px 20px; */
	flex-basis: calc(100% - 200px);
}

.table-container {
	display: flex;
	flex-direction: column;
}

.details-table {
	border-collapse: collapse;
	margin: 10px 20px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.details-table caption {
	font-size: 24px;
	margin: 10px 0px;
	text-align: left;
}

.details-table tr:nth-child(odd) {
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
}

.details-table th {
	padding: 10px 20px;
	text-align: left;
	font-size: 18px;
	background-color: #bbbbbb42;
	font-weight: 400;
}

.details-table td {
	font-size: 16px;
	padding: 10px 20px;
}

#events-registered-container th:nth-child(1) {
	width: 30%;
}
#events-registered-container th:nth-child(2) {
	width: 15%;
}
#events-registered-container th:nth-child(3) {
	width: 20%;
}
#events-registered-container th:nth-child(4) {
	width: 25%;
}
#events-registered-container th:nth-child(5) {
	width: 10%;
}

#events-registered-container td:nth-child(5) {
	text-align: center;
}

.details-table input {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	background: none;
	border: none;
	color: black;
	width: 100%;
}

.details-table textarea {
	width: 100%;
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	resize: none;
	background: none;
	border: none;
	color: black;
	width: 100%;
	height: 100px;
}

#change-password input {
	border-bottom: 1px solid black;
	width: 50%;
}

.edit-btn {
	letter-spacing: 2px;
	align-self: center;
	width: 150px;
	padding: 5px;
	border: none;
	box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
	font-family: Poppins;
	color: white;
	font-size: 16px;
	align-items: center;
	background: #504dff;
	cursor: pointer;
	text-transform: uppercase;
	margin: 20px 0px;
}

.fa.fa-close.deregister-btn {
	cursor: pointer;
	color: red;
	font-size: 20px;
}

.edit-btn:hover {
	background: #4834df;
}

#events-registered-container {
	margin-bottom: 20px;
}

#college-details-container {
	display: none;
}
#personal-details-container {
	display: none;
}
#change-password-container {
	display: none;
}
.mobileMenu {
	display: none;
}

.overlay {
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	display: none;
}

.dialog {
	display: none;
	position: fixed;
	top: calc(50% - 120px);
	left: calc(50% - 350px);
	width: 700px;
	min-height: 150px;
	background: white;
	justify-content: left;
	flex-direction: column;
	padding: 10px;
	border-radius: 2px;
}

.dialog.active {
	display: flex;
}

.dialog h2 {
	padding: 5px;
	color: #feac5e;
	font-weight: 100;
}

.dialog p {
	padding: 5px;
	font-size: 14px;
}

.dialog-btn-container {
	padding: 5px;
	text-align: right;
}

.dialog-btn-container button {
	padding: 5px;
	cursor: pointer;
	background: white;
	width: 100px;
}

#dialog-confirm-btn {
	border: 2px solid #000;
}

#dialog-confirm-btn:hover {
	border-color: #feac5e;
	color: #feac5e;
}

footer {
	margin: 0;
	padding: 0;
	min-height: 10vh;
	font-size: 14px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	box-sizing: border-box;
	align-items: center;
	display: flex;
	justify-content: center;
}

@media (max-width: 768px) {
	.nav-logo h1 {
		font-size: 22px;
	}
	.nav-ul-a {
		font-size: 16px;
	}
	.dashMenu {
		display: none;
	}
	#dashboard-container {
		padding: 10px 0px;
	}
	.dashboard {
		border-radius: 0;
		flex-basis: 100%;
		display: block;
	}
	.form-container {
		display: flex;
		flex-direction: column;
		flex-basis: 100%;
		/* margin: 0px 10px; */
		padding: 0 10px;
	}

	.details-table {
		margin: 10px 0px;
	}
	.details-table th {
		font-size: 14px;
		padding: 5px;
	}

	.details-table td {
		font-size: 12px;
		padding: 5px;
	}

	.details-table input {
		font-size: 12px;
	}
	.details-table textarea {
		height: 100px;
		font-size: 12px;
	}
	.mobileMenu {
		display: flex;
		flex-wrap: wrap;
		font-size: 14px;
		background: black;
		color: white;
		justify-content: space-around;
	}
	.mobilelist {
		height: 20px;
		padding: 5px 10px;
		cursor: pointer;
	}
	.mobilelist-active {
		background: white;
		color: black;
	}

	.edit-btn {
		font-size: 14px;
	}

	.details-table caption {
		font-size: 16px;
	}
	#mobileLogout:hover {
		background: #ff3031;
		color: white;
	}
	#change-password input {
		width: 100%;
	}
	.dialog {
		top: calc(50% - 75px);
		width: calc(100% - 20px);
		left: 10px;
	}
}
