body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.logo img{
    height: 100px;
    width: 60px;
    margin: 10px;
}

.box{
    display: block;
    border: 1px solid #2C3335;
    height: auto;
    width: 300px;
    padding: 15px 30px 15px 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
}

.box h1{
    font-family: 'Poppins', sans-serif;
    color: black;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 500;
}

.box input[type = "password"]{
    border: 0;
    background: rgba(0, 0, 0, 0.5);
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    font-size: 15px;
    color: black;
    transition: 0.25s;
    border-radius: 3px;
}

.box input[type = "password"]:focus{
    width: 250px;
    background-color: lightgrey;
    border-color: palevioletred;
}

.pswd_len{
    visibility: hidden;
    color: rgba(255, 0, 0, 0.6); 
}

.result {
    visibility: hidden;
    border: 0.6px solid #B22222;
    background: rgba(184, 15, 10, 0.3);
    display: block;
    width: 250;
    margin: 20px auto;
    text-align: center;
    padding: auto;
    color: darkred;
    font-size: 15px;
    border-radius: 3px;
    cursor:default;
}

.box input[type = "button"]{
    border: 0;
    background: rgba(0, 0, 0, 0.7);
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 25px;
    outline: none;
    color: grey;
    font-size: 15px;
    border-radius: 3px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type = "button"]:hover{
    border-color: palevioletred;
    background: lightgrey;
}

/*CSS for loader container*/
.block-form{
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    z-index: 1;
    opacity: 0.5;
}

/*CSS for loader*/
.lds-grid {
    display: none;
    /* display: inline-block; */
    position: absolute;
    width: 105px;
    height: 105px;
    top: calc(50% - 52px);
    left: calc(50% - 52px);
    z-index: 1;
}

.lds-grid div {
    position: absolute;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: #fff;
    animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
    top: 6px;
    left: 6px;
    animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
    top: 6px;
    left: 40px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
    top: 6px;
    left: 73px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
    top: 40px;
    left: 6px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
    top: 40px;
    left: 40px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
    top: 40px;
    left: 73px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
    top: 73px;
    left: 6px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
    top: 73px;
    left: 40px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
    top: 73px;
    left: 73px;
    animation-delay: -1.6s;
}

@keyframes lds-grid {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}