@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap");

* {
	outline: none;
}

html,
body {
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Fira Sans", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: linear-gradient(to top, #2ebf91, #8360c3);
	background-blend-mode: multiply;
	margin: 0;
}

.form-structor {
	border-radius: 5px;
	height: 550px;
	width: 350px;
	position: relative;
	overflow: hidden;
}

.form-structor::after {
	content: "";
	opacity: 0.8;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-repeat: no-repeat;
	background-position: left bottom;
	background-size: 500px;
	background: #8360c3;
	background: -webkit-linear-gradient(to top, #2ebf91, #8360c3);
	background: linear-gradient(to top, #2ebf91, #8360c3);
}

.form-structor .reset-password {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	width: 65%;
	z-index: 5;
	/* -webkit-transition: all 0.3s ease; */
}

.form-structor .reset-password .form-title {
	color: #fff;
	font-size: 1.7em;
	text-align: center;
}

.form-structor .reset-password .form-title span {
	color: rgba(0, 0, 0, 0.4);
	opacity: 0;
	visibility: hidden;
	/* -webkit-transition: all 0.3s ease; */
}

.form-structor .reset-password .form-holder {
	border-radius: 5px;
	background-color: #fff;
	overflow: hidden;
	margin-top: 50px;
	opacity: 1;
	visibility: visible;
	/* -webkit-transition: all 0.3s ease; */
}

.form-structor .reset-password .form-holder .input {
	border: 0;
	outline: none;
	box-shadow: none;
	display: block;
	line-height: 30px;
	padding: 5px 15px;
	border-bottom: 1px solid #eee;
	width: 100%;
	font-size: 14px;
	font-family: "Poppins", sans-serif;
}

.form-structor .reset-password .form-holder .input:last-child {
	border-bottom: 0;
}

.form-structor .reset-password .form-holder .input::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.4);
}

.form-structor .reset-password .submit-btn {
	background-color: rgba(0, 0, 0, 0.4);
	color: rgba(255, 255, 255, 0.7);
	border: 0;
	border-radius: 5px;
	display: block;
	margin: 15px auto;
	padding: 15px 45px;
	width: 100%;
	font-size: 13px;
	font-weight: bold;
	cursor: pointer;
	opacity: 1;
	visibility: visible;
	/* -webkit-transition: all 0.3s ease; */
	font-family: "Poppins", sans-serif;
}

.form-structor .reset-password .submit-btn:hover {
	transition: all 0.3s ease;
	background-color: rgba(0, 0, 0, 0.8);
}

/*	Desktop Only Media Query	*/
@media only screen and (min-width: 768px) {
	.form-structor {
		width: 500px;
	}
}

/*CSS for loader container*/
.block-form {
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
	background: black;
	z-index: 10;
	opacity: 0.5;
}

/*CSS for loader*/
.lds-grid {
	display: none;
	/* display: inline-block; */
	position: absolute;
	width: 105px;
	height: 105px;
	top: calc(50% - 52px);
	left: calc(50% - 52px);
	z-index: 11;
}

.lds-grid div {
	position: absolute;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background: #fff;
	animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
	top: 6px;
	left: 6px;
	animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
	top: 6px;
	left: 40px;
	animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
	top: 6px;
	left: 73px;
	animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
	top: 40px;
	left: 6px;
	animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
	top: 40px;
	left: 40px;
	animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
	top: 40px;
	left: 73px;
	animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
	top: 73px;
	left: 6px;
	animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
	top: 73px;
	left: 40px;
	animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
	top: 73px;
	left: 73px;
	animation-delay: -1.6s;
}

@keyframes lds-grid {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
}

.alert {
	padding: 10px;
	box-sizing: border-box;
	border: none;
	font-size: 16px;
	position: fixed;
	top: 0px;
	width: 300px;
	height: auto;
	color: white;
	left: calc(50% - 150px);
	text-align: center;
	display: none;
	opacity: 0;
	font-family: "Poppins", sans-serif;
	z-index: 10;
}

.error-alert {
	background-color: #ffbaba;
	color: #d8000c;
	display: block;
}

.success-alert {
	background-color: #dff2bf;
	color: #270;
	display: block;
}

@media screen and (max-width: 768px) {
	body {
		margin: 0;
	}

	.form-structor {
		width: 100vw;
		height: 100vh;
		border-radius: 0;
	}
	.form-structor::after {
		background-size: auto;
	}
}
