body{
    margin: 0%;
}
.header{
    width: 100%;
    height: 5%;
    background: linear-gradient(270deg, #4959EF 1.11%, #B328E3 100%);   
    display: flex;
}
.signIn{
    position: relative;
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    margin-left: auto;
    padding: 0.3%;
}
.signUp{
    position: relative;
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    padding: 0.3%;
}
.signIn > a{
    text-decoration: none;
    color: white;
}
.signUp > a{
    text-decoration: none;
    color: white;
}
.shankh{
    position: relative;
    display: flex;
    color: white;
    padding-left: 2%;
    padding-bottom: auto;
    padding-top: 0.3%;
}
.shankh > a{
    padding: 2%;
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.shankh > img{
    width: 20.65px;
    height: 35px;
    color: white;
}
.dropbtn {
    background-color: transparent;
    color: white;
    padding: 0px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
.dropdown {
    width: auto;
    /* left: 78.92%; */
    padding: 0.3%;
}
.dropdown-content {
    /* position: relative; */
    width: 10%;
    height: 97.33%;
    display: none;
    position: absolute;
    background-color: black;
    opacity: 0.3;
    overflow: auto;
    z-index: 1;
    left: 90%;
    top: 5%;
}  
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    font-size: 24px;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    display: block;
}
.show {display: block;}
.image{
    margin: 5%;
    align-self: auto;
    text-align: center;
}
#events{
    background: linear-gradient(270deg, #4959EF 1.11%, #B328E3 100%);
}
.grid { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10%;
    width: 60%;
    height: 100%;
    margin-left: 20%;
    margin-right: 20%;
    align-items: stretch;
    text-align: center;
    align-content: center;
}
.grid > article {
    width: 100%;
    height: 100%;
    padding: 5%;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    border-radius: 16px;
    background: white; 
}
.grid > article img {
    max-width: 80%;
    padding-left: 5%;
    padding-right: 5%;
}
.text {
    padding: 0 20px 20px;
    text-align: center;
    font-size: 1.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
.eventHead{
    position: absolute;
    text-align: center;
    margin-left: 44%;
    margin-right: 44%;
    font-size: 6rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: white;
}
#about{
    background: white;
    display: block;
    width: 100%;
    height: 100%;
}
.aboutHead > p{
    text-align: center;
    font-size: 6rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: blueviolet;
}
.aboutContent{
    position: absolute;
    margin-left: 10%;
    margin-right: 10%;
    color: #4959EF;
}
.aboutContent > p{
    font-size: 1.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
#contact{
    display: block;
    background: linear-gradient(270deg, #4959EF 1.11%, #B328E3 100%);
    width: 100%;
    height: 30%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
}
.middleContact > p {
    margin: 0;
    text-align: center;
    font-size: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: white;
    padding: 2%;
}
.rightContact > p {
    margin: 0;
    text-align: center;
    font-size: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: white;
    padding: 2%;
}