body{
    margin: 0%;
}
.header{
    width: 100%;
    height: 5%;
    background: linear-gradient(270deg, #4959EF 1.11%, #B328E3 100%);   
    display: flex;
}
.signIn{
    position: relative;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    margin-left: auto;
    padding: 0.3%;
}
.signUp{
    position: relative;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    padding: 0.3%;
}
.signIn > a{
    text-decoration: none;
    color: white;
}
.signUp > a{
    text-decoration: none;
    color: white;
}
.shankh{
    position: relative;
    display: flex;
    color: white;
    padding-left: 2%;
    padding-bottom: auto;
    padding-top: 0.3%;
}
.shankh > a{
    padding: 2%;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.shankh > img{
    width: 14.75px;
    height: 25px;
    color: white;
}
.dropbtn {
    background-color: transparent;
    color: white;
    padding: 0px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
.dropdown {
    width: auto;
    /* left: 78.92%; */
    padding: 0.3%;
}
.dropdown-content {
    /* position: relative; */
    width: 10%;
    height: 97.33%;
    display: none;
    position: absolute;
    background-color: black;
    opacity: 0.3;
    overflow: auto;
    z-index: 1;
    left: 90%;
    top: 5%;
}  
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    font-size: 24px;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    display: block;
}
.show {display: block;}
.image{
    margin: 5%;
    align-self: auto;
    text-align: center;
}
#events{
    background: linear-gradient(270deg, #4959EF 1.11%, #B328E3 100%);
}
.grid { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10%;
    width: 60%;
    height: 100%;
    margin-left: 20%;
    margin-right: 20%;
    align-items: stretch;
    text-align: center;
    align-content: center;
}

.flip-card {
    width: 100%;
    height: 300px;
    align-content: center;
    align-items: center;
    perspective: 1000px;
    margin-top: 30vh;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border: none;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    border: none;
    background: white;
    border-radius: 16px;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: white;
    /* color: #4959EF; */
}

.flip-card-back {
    background-color: white;
    /* color: #4959EF; */
    transform: rotateY(180deg);
}

.flip-card-front > img {
    position: relative;
    width:70%;
    padding: 5%;
    align-items: center;
}

.text {
    padding: 0 20px 20px;
    text-align: center;
    font-size: 1.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
.eventHead{
    position: absolute;
    text-align: center;
    margin-left: 44%;
    margin-right: 44%;
    font-size: 6rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: white;
}
#about{
    background: white;
    display: block;
    width: 100%;
    height: 100%;
}
.aboutHead > p{
    text-align: center;
    font-size: 6rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: blueviolet;
}
.aboutContent{
    position: absolute;
    margin-left: 10%;
    margin-right: 10%;
    color: #4959EF;
}
.aboutContent > p{
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
#contact{
    display: block;
    background: linear-gradient(270deg, #4959EF 1.11%, #B328E3 100%);
    width: 100%;
    height: 30%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
}
.middleContact > p {
    margin: 0;
    text-align: center;
    font-size: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: white;
    padding: 2%;
}
.rightContact > p {
    margin: 0;
    text-align: center;
    font-size: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: white;
    padding: 2%;
}

/*Log In CSS*/

{box-sizing: border-box;}


.form-popup {
    display: none;
    position: fixed;
    bottom: 15vh;
    right: 37vw;
    /*border: 3px solid #f1f1f1;*/
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    border-radius: 16px;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    border-radius: 16px;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: darkviolet;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    margin-bottom:10px;
    opacity: 0.8;
    border-radius: 40px;
    width: 10vw;
    position: center;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
    border-radius: 40px;
    width: 10vw;
    position: center;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}
